<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
    {{- partial "head.html" . -}}
    <body class="body-tag">
        {{- partial "header.html" . -}}
        
        <div class="content">
            {{- block "main" . }}{{- end }}
            {{- partial "footer.html" . -}}
        </div>

{{ $js := resources.Get "js/main.js" | resources.Minify }}
        <script src="{{ $js.RelPermalink }}"></script>
    </body>
</html>