<footer class="main-footer">
    <div class="container">
        <div class="main-footer-inner">
            <div class="footer-column">
                <div class="footer-item">
                    <h2 class="footer-title main-title">Christian</h2>
                </div>
            </div>
            <div class="footer-column"></div>
            <div class="footer-column"></div>
            <div class="footer-column"></div>
        </div>
    </div>
</footer>