{{ define "main" }}
<div class="project-section">
    <div class="container">
        <div class="project-section-inner">
            <div class="projects-side">
                <h2 class="project-heading">Projects</h2>
                <a href="https://christianhq.gitlab.io/todo-app/" class="project first bg-green">
                    <div class="project-inner">
                        <h2 class="project-title">Todo App</h2>
                    </div>
                </a>
            </div>
            <div class="project-side">
                <a href="https://christianhq.gitlab.io/word-frequency/" class="project bg-pink">
                    <div class="project-inner">
                        <h2 class="project-title">Word Frequency</h2>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
{{end}}