* {
    box-sizing: border-box;
}

.body-tag {
    background-color: $purple-100;
    color: $black-100;
    font-family: 'PT Sans', sans-serif;
    margin: 0;
}

.container {
    max-width: 1800px;
    padding: 0 20px;
}

.bg-green {
    background-color: $green-100;
    color: $white-100;
}

.bg-pink {
    background-color: $pink-100;
    color: $white-100;
}

.content {
    background-color: $purple-100;
    position: relative;
    z-index: 1;
}