.main-header {
    position: relative;
    min-height: 600px;
}

.main-title {
    font-size: 17px;
    letter-spacing: 1px;
    margin: 0;
    text-transform: uppercase;
}

.main-header-nav {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    position: fixed;
    width: 100%;
    z-index: 1;
}

.main-nav-link {
    display: inline-block;
}

.nav-link-icon {
    width: 65px;
    height: 65px;
}

.hero-section {
    position: fixed;
    width: 100%;
}

.hero-green-gradient {
    background: linear-gradient(#dff8d8, #b5d2c0);
    min-height: 300px;
}

.hero-pink-gradient {
    background: linear-gradient(#b5d2c0, #f0adeb);
    min-height: 300px;
}

.hero-color-overlay {
    background: linear-gradient(transparent, $purple-100);
    bottom: 0;
    height: 300px;
    position: absolute;
    width: 100%;
    z-index: 1;
}

.hero-image-container {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.hero-image {
    display: block;
    width: 100%;
}