.project-section-inner {
    display: flex;
    flex-wrap: wrap;
}

.project-heading {
    background-image: url('images/paper-effect.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 20px;
    text-align: center;
}

.project {
    display: block;
    min-height: 300px;
    min-width: 200px;
}